@import "/src/index.css";
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

.fe-maintenance-card{
    background-color: var(--primary-main);
    width:29vw;
    margin-bottom:2vh;
    border-radius: 7px;
    padding:10px;
}
 
.fe-maintenance-card-new{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2vh;
}

.fe-maintenance-card-update{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2vh;
}

.fe-maintenance-card-delete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2vh;
}